<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
	<nav class>
          <a href="#!" class="brand-logo">Persian Food</a>
          <ul class="right">
            <li class="nav-item">
                <a href="/foods/new">Create a New Persian Food</a>
            </li>
          </ul>
      </nav>

    <div class='main'>
    <!-- <h1> Foods page </h1>
    <nav >
        <a href="/foods/new">Create a New Persian Food</a>
    </nav> -->

    <ul>
        <% for(let i=0; i<foods.length; i++) {%>
            <li>
                <a href="/foods/<%=foods[i].id%>"><%= foods[i].name %>
                    <img src="<%= foods[i].img%>" alt="food image">
                </a>
            </li>

            <!-- <form action="/foods/<%=foods[i].id %>??_method=DELETE" method="POST">
                <input type="submit" value="DELETE">
            </form> -->

            <a href="/foods/<%=foods[i].id %>/edit">Edit</a>

            <br>
            <br>
        <% } %>
    </ul>
    </div>
</body>
</html>