<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
	<nav class>
          <a href="#!" class="brand-logo">Most Popular Persian Foods</a>
          <ul class="right">
            <li class="nav-item">
                <a href="/users">Log In</a>
                <a href="/foods/new">Create a New Persian Food</a>
                
            </li>
          </ul>
        
      </nav>

    <div class='blocks'>
    <ul class="foods">
        <% for(let i=0; i<foods.length; i++) {%>
            <div>
            <li>
                <a class="main-name" href="/foods/<%=foods[i].id%>"><%= foods[i].name %>
                    <img src="<%= foods[i].img%>" alt="food image">
                </a>
            </li>

            <form action="/foods/<%=foods[i].id %>?_method=DELETE" method="POST">
                <input class="main-delete" type="submit" value="DELETE">
                <br><br><a class="main-a" href="/foods/<%=foods[i].id %>/edit">Edit</a><br><br>
            </form> 
            </div>
    
            
        <% } %>
    </ul>
    </div>
</body>
</html>