<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foods Recipe Page</title>
    <link rel="stylesheet" href="/css/app.css">
    </head>
<body>
    <h1 class="show-page-h1" style= "color: brown">Recipe of <%= food.name%></h1> 

<div class= "shows-page">
<img class="image" src= "<%= food.img %>">
<p class= "serving">SERVING SIZE: <%= food.servingSize %></p>
<p>INGREDIENT: <%= food.ingredient %></p>
<p class= "cook">COOK TIME: <%= food.cookTime %></p>
<p>PREPRATION: <%= food.preparation%></p>
<p>DIRECTION: <%= food.direction %></p> 
<br>

</div>

<form class="delete-show-page" action="/foods/<%=food.id %>?_method=DELETE" method="POST">
    <input type="submit" value="DELETE <%= food.name %>" />
</form>

<a class="a-show-page" href="/foods/">Return to All Recipes</a>
<footer class="footer">Created by Elham G. Azizi</footer>
</body>
</html>